langchain==0.3.24
langgraph
typing
langchain_openai
langchain_core
langchain-community
wikipedia
chromadb
google-search-results
pymupdf
python-docx
gradio
fastapi
uvicorn
python-multipart
python-multipart          
pillow
numpy
torch>=2.6.0
torchvision
ultralytics                
clip    
opencv-python              
requests
python-dotenv
sentence-transformers
openai
reportlab